////////////////////////////////////////////////////////////////////////////////////////////////////
// IeSwitchSsl
//
// Copyright ©2008 Liam Kirton <liam@int3.ws>
////////////////////////////////////////////////////////////////////////////////////////////////////
// IeSwitchSsl.rc
//
// Created: 27/09/2007
////////////////////////////////////////////////////////////////////////////////////////////////////

ISOLATIONAWARE_MANIFEST_RESOURCE_ID RT_MANIFEST "IeSwitchSsl.manifest"

////////////////////////////////////////////////////////////////////////////////////////////////////

#include "Resources.h"

#include <windows.h>

////////////////////////////////////////////////////////////////////////////////////////////////////

TBI_ON BITMAP "Resources\\On.bmp"
TBI_OFF BITMAP "Resources\\Off.bmp"
TBI_CERTVERIFY BITMAP "Resources\\Certificates.bmp"
TBI_PROTOCOLS BITMAP "Resources\\Protocols.bmp"
TBI_SSL BITMAP "Resources\\Ciphers.bmp"
TBI_ALGS BITMAP "Resources\\Algorithms.bmp"
TBI_HELP BITMAP "Resources\\Help.bmp"

////////////////////////////////////////////////////////////////////////////////////////////////////
